.*
*.pyc
*.la
*.lo
*.loT
*.o
*.so
*~
data/
build/
tags
Makefile.qmake
Makefile
Makefile.in
.deps
.libs
ABOUT-NLS
INSTALL
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-*
*.gmo
py-compile
ibus-handwrite*.tar.*
ibus-handwrite.spec
ibus-handwrite.pot
src/handwrite.xml*
hanzilookup.readme.txt
src/ibus-engine-handwrite
src/hanzilookup/
src/kiang/
